In [1]:
print('hello jupter')

hello jupter

In [7]:
my_str ='hello'
my_int = 20
print(my_str)
print(my_int)

hello
20

In [8]:
my_str
my_int

20

In [12]:
x=int(input('enter number'))
if x==5:
    print("equal 5")
elif x<5:
    print('x<5')
else:
    print('x>5')

enter number5
equal 5

In [13]:
my_name = ['matious','mtyas','assad','fahem']
my_name[0]

'matious'

In [16]:
my_name[1]

'mtyas'

In [17]:
my_name.append('mshrgy')

In [18]:
my_name

['matious', 'mtyas', 'assad', 'fahem', 'mshrgy']

In [19]:
my_name.insert(2,"mena")

In [20]:
my_name

['matious', 'mtyas', 'mena', 'assad', 'fahem', 'mshrgy']

In [21]:
del my_name[2]

In [22]:
my_name

['matious', 'mtyas', 'assad', 'fahem', 'mshrgy']

In [23]:
my_name.append(5)
my_name

['matious', 'mtyas', 'assad', 'fahem', 'mshrgy', 5]

In [32]:
i = 1
while i < 6:
  print(i)
  i += 1

1
2
3
4
5

In [33]:
for i in "matious":
    print(i)

m
a
t
i
o
u
s

In [35]:
fruits=["banana","apple","orange"]
for i in fruits:
    print(i)
    if i=="apple":
        break

banana
apple

In [36]:
for x in range(6):
    print(x)

0
1
2
3
4
5

In [37]:
for x in range(2,6):
    print(x)

2
3
4
5

In [38]:
for x in range(2,6,2):
    print(x)

2
4

In [39]:
fruits=["banana","apple","orange"]
num=[1,2,3]
for i in fruits:
    for x in num:
        print(i,x)

banana 1
banana 2
banana 3
apple 1
apple 2
apple 3
orange 1
orange 2
orange 3

In [42]:
thisdic={
    "name":"matious",
    "age":22,
    "number":343
}
thisdic

{'name': 'matious', 'age': 22, 'number': 343}

In [43]:
x=thisdic.get("name")
x

'matious'

In [45]:
x=thisdic.keys()
x

dict_keys(['name', 'age', 'number'])

In [46]:
x=thisdic.values()
x

dict_values(['matious', 22, 343])